#slider {
    margin: 0 auto;
    width: 60rem;
    height: 30rem;
    overflow: hidden;
    text-align: center;
    background: black;
    font-family: cursive;
 }
 #slider input[type=radio] {
    display: none;
 }
 #slider label {
    cursor:pointer;
    text-decoration: none;
 }
 #slides {
    padding: 1rem;
    background: #000;
    position: relative;
    z-index: 1;
 }
 #overflow {
    width: 100%;
    overflow: hidden;
 }
 #slide1:checked ~ #slides .inner {
    margin-left: 0;
 }
 #slide2:checked ~ #slides .inner {
    margin-left: -100%;
 }
 #slide3:checked ~ #slides .inner {
    margin-left: -200%;
 }
 #slide4:checked ~ #slides .inner {
    margin-left: -300%;
 }
 #slides .inner {
    transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    width: 400%;
    line-height: 0;
    height: 30rem;
 }
 #slides .slide {
    width: 25%;
    float:left;
    height: 100%;
    color: #fff;
 }

 .slide-image-container {
     height: 26rem;
     width: 58rem;
 }

 .slide-title {
     padding-top: .5rem;
     text-align: left;
 }
 #slides .meme-1 {
    background: center / cover url("./static/img/1.png") no-repeat;
 }
 #slides .meme-2 {
    background: center / cover url("./static/img/2.png") no-repeat;
 }
 #slides .meme-3 {
    background: center / cover url("./static/img/3.png") no-repeat;
 }
 #slides .meme-4 {
    background: center / cover url("./static/img/4.png") no-repeat;
 }
 #bullets {
    position: relative;
    z-index: 100;
    top: -5rem;
    margin-left: auto;
    background: black;
    width: 20rem;
 }
 #bullets label span {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border-radius:100%;
    background: rgb(100, 194, 253);
    transition: all .5s;
    margin: 1rem;
 }

 #bullets label:hover  span{
    background: rgb(255, 255, 255);
 }
 
 #slide1:checked ~ #bullets label:nth-child(1) span,
 #slide2:checked ~ #bullets label:nth-child(2) span,
 #slide3:checked ~ #bullets label:nth-child(3) span,
 #slide4:checked ~ #bullets label:nth-child(4) span {
    background: black;
    border: 2px solid white;
    box-sizing: border-box;
 }
 @media screen and (max-width: 950px) {
    #slide1:checked ~ #controls label:nth-child(2),
    #slide2:checked ~ #controls label:nth-child(3),
    #slide3:checked ~ #controls label:nth-child(4),
    #slide4:checked ~ #controls label:nth-child(1),
    #slide1:checked ~ #controls label:nth-last-child(2),
    #slide2:checked ~ #controls label:nth-last-child(3),
    #slide3:checked ~ #controls label:nth-last-child(4),
    #slide4:checked ~ #controls label:nth-last-child(1) {
       margin: 0;
    }
    #slider {
        width: 30rem;
        height: 22rem;
     }

     .slide-image-container {
        height: 15rem;
        width: 28rem;
    }

    .slide-title {
        padding-top: 1rem;~
        margin-top: 4rem;
    }

    #bullets {
        margin-right: auto;
        top: -15rem;  
    }
 }